#header-row {
    background-color: #D0344E;
}

#header {
    padding: 0;
    margin: 0;
    height: 360px;
    overflow-y: hidden;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6);
    border: 0;

    /*Make sure the text is readable for all screen sizes.*/
    background-image: url("../images/header_no_text.svg");
    background-position: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}

#header h1 {
    color: white;
    font-weight: 500;
    margin-left: 20px;
    font-size: 60px;
}

#header h2 {
    color: rgba(255, 255, 255, 0.7);
    max-width: 500px;
    font-weight: 300;
    margin-left: 20px;
    font-size: 40px;
}

#header-float-box {
    position: absolute;
    height: 70px;
    top: 290px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#header-float-box .btn {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#warning-box {
    background-color: orange;
    color: white;
    font-size: large;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
}

#warning-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.treegrid-expander {
    margin-right: 5px;
}

#list-of-notebooks {
    margin-top: 10px;
}
